---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="CDC STT-NF">
  <section style="padding:80px 20px;">
    <h1>CDC STT-NF</h1>
    <p>Deploy test berhasil.</p>
  </section>
</BaseLayout>