---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-3xl font-bold">Lowongan Kerja</h1>

  <div class="bg-white p-6 rounded shadow mt-6">
    <h2 class="text-xl font-bold">Software Engineer</h2>
    <p>Perusahaan Teknologi - Jakarta</p>
  </div>
</MainLayout>