---
import BaseLayout from "../layouts/BaseLayout.astro";
import { supabase } from "../lib/supabase.js";
---

<BaseLayout>
  <h2 class="text-2xl font-bold">Login CMS Admin</h2>

  <form id="loginForm" class="space-y-4 mt-6">
    <input
      type="email"
      id="email"
      placeholder="Email"
      class="border p-2 w-full"
    />
    <input
      type="password"
      id="password"
      placeholder="Password"
      class="border p-2 w-full"
    />
    <button class="bg-blue-600 text-white px-4 py-2">Login</button>
  </form>

  <script type="module">

    document.addEventListener("DOMContentLoaded", () => {
      const form = document.getElementById("loginForm");

      if (!form) {
        console.log("Form tidak ditemukan");
        return;
      }

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        const { error } = await supabase.auth.signInWithPassword({
          email,
          password,
        });

        if (error) {
          alert(error.message);
          return;
        }

        console.log("Login sukses (online)");
        window.location.href = window.location.origin + "/admin/";
      });
    });
  </script>
</BaseLayout>
