---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-3xl font-bold">Program CDC</h1>

  <ul class="list-disc ml-6 mt-6 space-y-2">
    <li>Pelatihan karier & pengembangan diri</li>
    <li>Informasi dan peluang magang</li>
    <li>Workshop CV & Interview</li>
    <li>Tips bekerja sambil kuliah S2</li>
    <li>Tips memilih pekerjaan sesuai passion</li>
  </ul>
</MainLayout>