<section class="companies">

<div class="container">

<p class="title">
Dipercaya oleh berbagai perusahaan teknologi
</p>

<div class="logos">

<img src="/logos/gojek.svg">
<img src="/logos/tokopedia.svg">
<img src="/logos/traveloka.svg">
<img src="/logos/grab.svg">

</div>

</div>

</section>

<style>

.companies{
padding:60px 0;
text-align:center;
}

.logos{
display:flex;
justify-content:center;
gap:40px;
opacity:.6;
}

.logos img{
height:28px;
}

</style>