<nav class="bg-blue-700 text-white p-4 flex justify-between">
  <a href="/" class="font-bold">CDC STT-NF</a>
  <div class="space-x-4">
    <a href="/">Home</a>
    <a href="/program">Program</a>
    <a href="/career-days">Career Days</a>
    <a href="/jobs">Lowongan</a>
  </div>
</nav>