---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const { title } = Astro.props;
---

<!doctype html>
<html lang="id">
  <head>
    <BaseHead title={title || SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main class="container">
      <slot />
    </main>

    <Footer />
  </body>

  <style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f8fafc;
    }

    .container {
      max-width: 1000px;
      margin: auto;
      padding: 40px 20px;
    }

    h1 {
      color: #0f172a;
    }
  </style>
</html>